/*------------------------------------*\
    XXXX STYLES
\*------------------------------------*/
/*
 * All styling is done in a modular fashion, so each component should have it's own sass file
 * 
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
    XXXX Brand styles
\*------------------------------------*/
/*
 * All styling relating the to the XXXX Brand
 * 
 */
/*------------------------------------*\
    Typography
\*------------------------------------*/
/*
 * All styling is done in a modular fashion, so each component should have it's own sass file
 * 
 */
body {
  font-family: helvetica, arial, sans-serif; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 21px;
  margin-bottom: 10px; }

h4 {
  font-size: 18px; }

/*------------------------------------*\
    Media Queries
\*------------------------------------*/
/*
 * Defining the break points and media queries mixin
 */
/*------------------------------------*\
    Helper Classes/Mixins
\*------------------------------------*/
/*
 * Helper classes and mixins to use
 */
.border-radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.centered {
  text-align: center; }

.upper {
  text-transform: uppercase; }

.pull-right {
  float: right; }

.transition-fast, header, section, footer {
  transition: all .3s; }

.hidden {
  display: none;
  opacity: 0; }

.visible {
  display: block;
  opacity: 1; }

/*------------------------------------*\
    Structure
\*------------------------------------*/
/*
 * Structuring elements
 */
body {
  background: white; }

header, section, footer {
  float: left;
  width: 100%; }

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto; }

/*------------------------------------*\
    Input Elements
\*------------------------------------*/
/*
 * Styling for all the different input types and elements
 */
/*------------------------------------*\
    Header
\*------------------------------------*/
/*
 * Header
 */
header {
  height: 60px;
  background: white;
  border-bottom: 1px solid #333333; }

/*------------------------------------*\
    Footer
\*------------------------------------*/
/*
 * Footer
 */
