
/*------------------------------------*\
    Header
\*------------------------------------*/

/*
 * Head and shoulders, knees and toes, knees and toes, knees and toes
 */


header {
    height: 60px;
    background: $white;
    border-bottom: $border-light; 
}
