
/*------------------------------------*\
    Brand styles
\*------------------------------------*/

/*
 * All styling related to your awesome brand
 * 
 * Brand Colour variables
 */





//---------- Brand colour variables ---------


$white:         #FFF;
$black:         #333;


// Gray
$gray-33:       #333333;
$gray:          $gray-33;
