
/*------------------------------------*\
    XXXX Brand styles
\*------------------------------------*/

/*
 * All styling relating the to the XXXX Brand
 * 
 */



//---------- Brand colours ---------


$white:         #FFF;
$black:         #333;


// Gray
$gray-33:       #333333;
$gray:          $gray-33;
