
/*------------------------------------*\
    Helper Classes/Mixins
\*------------------------------------*/

/*
 * Dope helper classes and mixins to use in your things yo.
 * 
 * Border Radius
 * Box Shadow
 * Positioning/Alignment/Visibility
 * Transitions
 */





//---------- Variables ---------

$border-radius:             3px;
$border-light:              1px solid $gray;





//---------- Border Radius ---------


// cross-browser border radius
// usage: @extend .border-radius
.border-radius {
    -webkit-border-radius:  $border-radius;
    -moz-border-radius:     $border-radius;
    border-radius:          $border-radius;
}





//---------- Box Shadow ---------

// cross-browser box-shadowing
// usage: @include box-shadow(0.2);
@mixin box-shadow( $opacity: 0.1 ) {
    -webkit-box-shadow:     0 2px 0 rgba(0,0,0,$opacity);
    -moz-box-shadow:        0 2px 0 rgba(0,0,0,$opacity);
    -ms-box-shadow:         0 2px 0 rgba(0,0,0,$opacity);
    -o-box-shadow:          0 2px 0 rgba(0,0,0,$opacity);
    box-shadow:             0 2px 0 rgba(0,0,0,$opacity);
}





//---------- Positioning/Alignment/Visibility ---------

// usage @extend .________;
.centered {
    text-align: center;
}
.upper {
    text-transform: uppercase;
}
.pull-right {
    float: right;
}
.hidden {
    display: none;
    opacity: 0;
}
.visible {
    display: block;
    opacity: 1;
}





//---------- Transitions ---------

// all-in-one transition
// usage: @extend .transition
.transition {
    transition: all .3s;
}

// cross-browser transitions that need multiple arguments
// usage: @include transition(color .3s ease);
@mixin transition ($args...) {
  -webkit-transition:       $args;
  -moz-transition:          $args;
  -ms-transition:           $args;
  -o-transition:            $args;
  transition:               $args;
}





