
/*------------------------------------*\
    Typography
\*------------------------------------*/

/*
 * All the typography styling in this hurr file
 * 
 * Document-wide Typeface
 * Headers
 * Set rem font size + px fallback
 */





//---------- Document-wide Typeface ---------

body {
    font-family: helvetica, arial, sans-serif;
}





//---------- Headers ---------

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 21px;
    margin-bottom: 10px;
}
h4 {
    font-size: 18px;
}





//---------- Set a rem font size with pixel fallback ---------

// usage: @mixin font-size($size)
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}