
/*------------------------------------*\
    Header
\*------------------------------------*/

/*
 * Header
 */


header {
    height: 60px;
    background: $white;
    border-bottom: $border-light; 
}
