
/*------------------------------------*\
    Structure
\*------------------------------------*/

/*
 * If we don't give it structure, how will it find it's way in life? - MKZ
 * 
 * Structural HTML Tags
 * Structure Classes
 */





//---------- Structural HTML Tags ---------

body {
    background: $white;
}
header, section, footer {
    @extend .transition-fast;
    float: left;
    width: 100%;
}





//---------- Structure Classes ---------

// setting the max-width and centering the container
.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}



